rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/private/{documentId} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId
        && request.auth.token.firebase.sign_in_provider == 'google.com';
    }
  }
}
